body{
    background-color: #36393f;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{font-size: 28px;}
h2{font-size: 22px;}
code{background-color: #202225; padding: 4px 6px 4px 6px; border-radius: 5px; font-size: 14px;}
section{
    background-color: #2f3136;
    margin: auto;
    width: 60%;
    padding: 5px 5px 15px 15px;
    margin-top: 30px!important;
    border-radius: 10px;
}
section a{
    cursor: pointer;
}
#donation5, #donation15, #donationOth{
    padding-bottom: 60px;
    margin-bottom: 100px;
    display: none;
}
header{
    background-color: #2f3136;
    padding: 4px 0 4px 10px;
    overflow: hidden;
    display: flex;
}
nav{
    align-items: center;
}
nav img{
	align-items: center;
	float: left;
}
nav h2{
    margin-left: 15px;
    text-decoration: none;
    display: inline-block;
}
nav h3{
    font-weight: lighter;
    margin-left: 25px;
    text-decoration: none;
    display: inline-block;
}
nav ul li{
    text-decoration: none;
    display: inline-block;
}
a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    list-style: none;
}
a:visited{
    color: #fff;
    text-decoration: none;
}
.commDiv{
    background-color: #36393f;
    padding: 0 10px 0 10px;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
    width: 95%;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px black;
}
.commDiv a{
    float: right;
    margin-right: 30px;
    cursor: pointer;
    color: #00aff4;
}
.description{
    color: rgb(173, 173, 173);
}
.title{
    text-align: center;
    margin-top: 100px;
}
.animation1 {
    background-color: #3d4262;
}
.animation2 {
    background-color: #36393f;
    -webkit-transition: background-color 2s;
    -moz-transition: background-color 2s;
    -o-transition: background-color 2s;
    -ms-transition: background-color 2s;
    transition: background-color 2s;
}
.button{
    background-color: #3c4baa;
    padding: 20px;
    margin-right: 10px;
    border-radius: 10px;
}
.button:hover{
    background-color: #37428b;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.button h3{
    margin: 0;
}
.qr{
    background-color: #fff;
    padding: 10px;
    margin: auto;
    width: 450px;
    border-radius: 20px;
}
.copyAndPast{
    text-decoration: underline;
}
.copied{
    background-color: #3ba55d;
    padding: 3px;
    border-radius: 5px;
    display: none;
}
.navButton:hover{
    color: rgb(202, 202, 202);
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.thisOne{
    color: #00aff4!important;
}
@media only screen and (max-device-width: 1200px){
    section{
        width: 90%;
    }
    p{
        font-size: 20px;
    }
    .commDiv a{
        text-align: center;
        float: none;
    }
}
@media only screen and (max-device-width: 460px){
    .button{
        font-size: 16px;
        background-color: #3c4baa;
        padding: 15px;
        margin-right: 10px;
        border-radius: 10px;
    }
}
@media only screen and (max-device-width: 390px){
    .button{
        font-size: 14px;
        background-color: #3c4baa;
        padding: 12px;
        margin-right: 10px;
        border-radius: 10px;
    }
}
@media only screen and (max-device-width: 600px){
    section{
        width: 95%;
    }
}